.nav{
    color: #fff;
    grid-area: n;
    background-color: #80a4ff;
    min-width: 200px;

}
.nav ul{
    list-style: none;
 }
.nav a{
    text-decoration: none;
color: #fff;
}
.nav a.active{
    color: #ffcaca;
}
